<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% blogsz.forEach( blogsz =>{  %>
        <h1> <%= blogsz.author  %></h1>
        <h3> <%= blogsz.title   %></h3>
        <p>  <%= blogsz.content %></p>
         <!-- <% let img = blogsz.image %> -->
        <!-- <p>  <%= img %></p> -->
    <%  })  %>
    <img src="/images/airpods.jpg" alt="" style="height: 100px; width: 100px;">

    <h1>hello</h1>
    
</body>
</html>